.container{
    /* display: inline-block;
    border: 1 solid black; 
    border-radius: 10px;
    padding: 30px; */
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
/* .grid{
    display: inline-block;
    border-radius: 10px;
} */
/* display: flex;
flex-wrap: wrap; */