.create-category-conteiner {
  width: 70%;
}

.create-category-conteiner,
.onboard-conteiner {
  border: none;
  display: flex;
  margin: 10px 20px;
  padding: 0;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.09);
  background: grey;
  border-radius: 45px;
}
