.bill-conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 25px;
}

.info-details {
  display: flex;
  width: 85%;
  padding-top: 2rem;
  justify-content: space-between;
}

.info-total {
  display: grid;
  grid-template-columns: 10rem 10rem 15rem 10rem;
  padding: 1rem;
  padding-top: 2rem;
  border: 0.1rem solid #402e57;
  margin-top: 5rem;
  width: 80%;
  margin-bottom: 2rem;
  border-radius: 1rem;
}
