.bill-conteiner {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;

  border-top-left-radius: 25px;
}

.info-details {
  display: flex;
  width: inherit;
  padding: 30px;
  padding-bottom: 50px;
}

.info-total {
  display: block;
  padding: 20px;
  /* width: 70%; */
  position: relative;
  left: 26%;
  /* top: 15%; */
  right: 0%;
  width: 50%;
}
