
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&display=swap');

/* .categories{
    position: absolute;
    display: flex;
    width: 100%;
    height: 200px;
    background-color: #DAD7DC;
    justify-content: center;
    align-items: center;
    z-index: 0;
    margin-top: -100px;
    padding-top: 100px;
}  */

 .categories{
    display: flex;
    text-align: center;
    background-color: #DAD7DC;
    width: 100%;
    height: 180px;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 0;
    margin-top: -130px;
    padding-top: 100px;
    padding-bottom: 2px;
}

.btn {
    padding: 4px 10px;
    margin:10px 5px;
    color:#755588;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    position: relative;
    text-decoration: none;
    display:inline-block;  
    background-color:  #DAD7DC;
    border: transparent;
    
    
  }

  .btn::before {
    content: '';
    position: absolute;
    bottom: 0%;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #755588;
    display: block;
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
  }
  
  .btn:hover::before {
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1)
  }