.detail-container {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.76);
    z-index: 2;
    margin: 0 auto;
    right: auto;
    top: 0px;
    border: solid grey;
  }
  
  .detail-container .detailCard {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    height: 80%;
    /* background-color: white; */
    margin: auto;
    border-radius: 40px;
  }
  
  .detail-container .detailCard .imageSide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    width: 50%;
  }
  
  .detail-container .detailCard .dataSide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: flex-start;
        -ms-flex-pack: flex-start;
            justify-content: flex-start;
    height: 100%;
    width: 50%;
    padding: 5%;
    padding-right: 10%;
  }
  
  .detail-container .close-btn {
    position: absolute;
    top: 2%;
    right: 2%;
    text-decoration: none;
    color: white;
    font-weight: 600;
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
    z-index: 4;
  }

  .title{
      font-size: 1.5em;
      letter-spacing: 0;
      text-align: center;
  }

  .price{
      font-size: 1.3rem;
      color: #755588;
      font-weight: bold;
  }

  .description{
      font-size: 1.0rem;
      margin: 10% 0;
  }

.up-btns{
    width: 80%
}

.up-btns input {
    width: 40%;
    justify-content: space-evenly!important
}

.bottom-btns{
    margin-top: 4%;
    width: 80%;
    display: flex;
    justify-content: space-evenly !important;
}

.all-btn{
    bottom: 15%;
    width: 80%
}


.grey-btn{
    margin-left: 14px;
    display: block;
    height:  30px;
    width: fit-content!important;
    border-radius: 20px;
    border: none;
    background-color: #CECECE;
    text-decoration: none !important;
    color: black;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 0 5% 0.5% 5%; 
}

.cart-btn{
    background-size: 20px 20px;
}

.select-quantity{
    border-radius: 40px;
    border: solid 1px;
    border-color: #CECECE;
    padding: 2%;
}

