.F-element-container{
    margin:auto;
    width: fit-content;
    padding: 2rem;
    border-radius: 1.5rem;
   border: 2px solid;
   border-color:grey;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(233, 214, 214);
    
}

.F-image-container{
   
    display:flex;
    flex-direction:column;
    align-items: center;
    width: 10rem;
}

.F-name-container{
    padding: 0.5rem;
    /* box-sizing: border-box; */
   
    
}
.F-name-container input{
   border-radius: 1.5rem;
   border: 2px solid;
   border-color:grey;
   width:fit-content;
   height: 4rem;
   padding:0.5rem;
   background-color: rgb(233, 214, 214); 
    
}
.F-stock-container{
    padding: 0.5rem;
    
}
.F-stock-container input{
   border-radius: 1.5rem;
   border: 2px solid;
   border-color:grey;
   width:5rem;
   height: 4rem;
   padding:0.5rem;
   background-color: rgb(233, 214, 214); 

}
.F-category-container{
    padding: 0.5rem;
   
   
}
.categories{
    padding: 0.5rem;
    width:15rem;
   height: 4rem;
}
.F-category-container span{
    background-color: rgb(190, 128, 209); 
    border-radius: 1.5rem;
   border: 2px solid;
   border-color:grey;
  
   padding:0.3rem;

}
.F-category-container button{
    border-radius: 100%;
    height: 1.5rem;
    margin:auto;
    padding: 2px;
   
}
.F-price-container{
    padding: 0.5rem;
}
.F-price-container input{
    border-radius: 1.5rem;
   border: 2px solid;
   border-color:grey;
   width:5rem;
   height: 4rem;
   padding:0.5rem;
   background-color: rgb(233, 214, 214); 
}
.F-edit-button{
margin: 1rem;
}
.F-remove-button{
    margin: 1rem;
}




