.F-element-container{
    margin:1rem;
    padding: 2rem;
    border:0.1rem;
    border-style: solid;
    display:flex;
    background-color: rgb(233, 214, 214);
    
}

.F-image-container{
    background-color:rgb(152, 223, 158);
    display:flex;
    flex-direction:column;
    width: 10rem;
}

.F-name-container{
    padding: 0.5rem;
   
    
}
.F-name-container input{
   border-radius: 1.5rem;
   border: 2px solid;
   border-color:grey;
   width:fit-content;
   height: 4rem;
   padding:0.5rem;
   background-color: rgb(233, 214, 214); 
    
}
.F-stock-container{
    background-color: rgb(140, 181, 214);
}
.F-category-container{
    background-color: rgb(211, 197, 224);
}
.F-price-container{
    background-color: rgb(120, 221, 187);
}
.F-edit-button{

}
.F-remove-button{

}


.F-product-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:50rem;
    background-color: blue;
}

img{
    width: 7rem;
    height: auto
}

