.product-container{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    width:77vw;
    margin: 2rem;
    margin-top: 0.5rem;
    height: 100%
}

.product-container-edit{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2rem;
}
.image-container{
    display:flex;
    flex-direction:column;
    align-items: center;
    width: 10rem;
}
img{
    width: 7rem;
    height: auto
}
.name-container{
    border-radius: 1.5rem;
   
  
   width:fit-content;
   height: 4rem;
   padding:0.5rem;
   background-color: rgb(233, 214, 214); 
}
.element-container{
    margin:auto;
    width: 100%;
    border-radius: 1.5rem;
    height: 20vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(233, 214, 214);
    border-radius: 100px;
}

.stock-conteiner{
    border-radius: 1.5rem;
    
    
    width:5rem;
    height: 4rem;
    padding:0.5rem;
    background-color: rgb(233, 214, 214); 
 
}
.category-container{
    padding: 0.5rem;
    border-radius: 1.5rem;
   
   
    width:15rem;
    height: 4rem;
   
}
.price-container {
    padding: 0.5rem;
    border-radius: 1.5rem;
  
   width:5rem;
   height: 4rem;
   padding:0.5rem;
   background-color: rgb(233, 214, 214); 
}

.info-container{
    height: 80%;
    width: 90%;
    display: flex;
}