.navbar{
    height: 100px;
    background-color: #7555882d;
    padding-right: 1%;
}

.left-tags{
    width: 400px;
    font-size: 1.1rem;
}

.right-buttons{
    width: 15%;
    font-size: 1.1rem;
}

.log-in-btn{
    margin-right: 14px;
}

.white-btn{
    margin-left: 14px;
    display: block;
    height:  50px;
    width: 90px;
    border-radius: 40px;
    border: none;
    background-color: white;
    text-decoration: none !important;
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
}

.display-linebreak{
    white-space: pre-line;
}